<html>
    <body>
        {% embed 'AppBundle:Tag:embedArmes.html.twig' with { products: produits}%}
            {% block titre %}
                Armes pour toutes la famille, dès 6 ans
            {% endblock %}
        {% endembed %}
    </body>
</html>