{% extends "::base.html.twig" %}

{% block title %}AppBundle:Tag:include{% endblock %}

{% block body %}
<h1>Welcome to the Tag:include page</h1>
{% include 'AppBundle:Tag:miniature.html.twig' with {livre: book} %}

{% endblock %}